node_modules/
dist/
.env
.DS_Store
__pycache__/
*.pyc

# Ignore everything inside the cache folder
backend/src/cache/*

# ...except for the .gitkeep file
!backend/src/cache/.gitkeep

# Ignore FastF1 raw data cache
data_scripts/fastf1_cache/

# ...except for the .gitkeep file
backend/fastf1_cache/
